.contact {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contact__left > img {
    padding: 10px;
    width: 100%;
    display: flex;
    margin: auto;
    background: #002d40;
    border: 30px solid #ca5f1e;
}

.contact__right {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.contact__inputtText {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    
    
    
}
.contact__inputtText > input {
    padding: 10px;
    border: 1px solid #ca5f1e;
    
}
.contact__inputTextarea > textarea{
    border: 1px solid #ca5f1e;
}
.contact__inputfield{
    display: flex;
    gap: 20px;
    
}
.contact__button {
    padding-top: 30px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.contact__button > p {
    padding-bottom: 20px;
    text-align: center;
    
}

@media screen and (max-width:780px) {
    .contact {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .contact__left {
        margin-bottom: 30px;
    }
    .contact__left > img {
        display: none;
    }
    .contact__inputfield{
        display: flex;
        flex-direction: column;
    }
    .contact__button > p {
        display: none;
    }
    .contact__inputtText > input {
        padding: 10px 38px;
        border: 1px solid #ca5f1e;
        
    } 
}