 .contact__page {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.contact__right{
    margin: auto;
}

.contact__inputfield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact__inputtText {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.contact__button > p {
    margin-top: 15px;
    margin-bottom: 20px;
}


.contact__left > img {
    width: 80%;
}

.contact__input {
    padding: 16px 8px;
    border: 1px solid rgb(21, 37, 57);
    width: 100%;
    border-radius: 5px;
}




@media only screen and (max-width:780px) {
    
    .contact__left {
        display: none;
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__right {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__inputfield{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
