.panel {
    width: 80%;
    margin: auto;
    background-color: #f1edf5;
}
.titleAndPhoto {
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.titleAndPhoto__discription {
    margin: auto;
}
.titleAndPhoto > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(158, 73, 214);
}
.titleAndPhoto {
    margin: auto;
}
.titleAndPhoto__title {
    margin: auto;
}
.titleAndPhoto__Body_Discription {
    margin: auto;
}
.titleAndPhoto__age {
    margin: auto;
}
.titleAndPhoto__city {
    margin: auto;
}
.titleAndPhoto__discription > input {
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
    border: none;
    background-color: #e5dfeb;
    border-radius: 5px;
}
.titleAndPhoto__age > input {
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
    border: none;
    background-color: #e5dfeb;
    border-radius: 5px;
}
.titleAndPhoto__city > input {
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
    border: none;
    background-color: #e5dfeb;
    border-radius: 5px;
}
.titleAndPhoto__title > textarea {
    width: 600px;
    border: none;
    margin-bottom: 20px;
    background-color: #e5dfeb;
}

.titleAndPhoto__Body_Discription > textarea {
    width: 600px;
    height: 250px;
    border: none;
    margin-bottom: 20px;
    background-color: #e5dfeb;
}
.titleAndPhoto__button {
    margin: auto;
}
.titleAndPhoto__button > Button {
    width: 200px;
}
