.footer__show {
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: space-between;
  padding-top: 50px;
  color: white;
}
.footer {
  border-top: 7px solid #f48612;
  background: #002d40;
  padding-bottom: 30px;
}
.footer__contain {
  padding: 20px;
}
.footer__contain > h1 {
  padding-bottom: 10px;
}
.footer__icon {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__contain > h3 {
  cursor: pointer;
  padding-bottom: 15px;
}
.footer__span1 {
  padding-right: 15px;
  cursor: pointer;
}
.footer__span2 {
  cursor: pointer;
  padding-right: 15px;
}
.footer__span3 {
  cursor: pointer;
}
.footer__link {
  text-decoration: none;
  color: white;
}
