.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
  color: #ca5f1e;
  cursor: pointer;
}

.headerOption:hover {
  color: white;
}
.headerOption > h3 {
  text-decoration: none;
}
